*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}

.choices{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
}

.choice{

    display:flex;
    justify-content: center;
    align-items: center;
    height: 165px;
    width: 165px;
    border-radius: 50%;
    
}

.choice img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 3rem;
    gap: 5rem;
}

#userscore,#compscore{
    font-size: 4rem;
}


.msg-container{
     margin-top: 5rem;
}

#msg{
    display: inline;
    padding:1rem;
    background-color: #081b31;
    color: white;
    height: 2rem;
    font-size: 1.5rem; 
    border-radius:1rem; 
}
